$primary-font: "Roboto", sans-serif;

$primary-color: #1345e6;
$primary-color2: #ed239f;
$title-color: #797979;
$offwhite: #f8faff;
$white: #ffffff;

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800");
